body{
  background-color: lightblue;
}
#alles{
  background-color: lightblue;
  heigth: 100%;
  width: 100%
}
#maandagDiv{
  background-color: blue;
  height: 15%;
  width: 85%;
  margin-left: 15%;
}
