body{
  background-color: lightblue;
}
#alles{
  background-color: lightblue;
  heigth: 100%;
  width: 100%
}
#maandagDiv{
  background-color: lightblue;
  height: 100%;
  widht: 100%;
}
#M1{
  background-color: blue;
  height: 13%;
  width: 85%;
  margin-left: 7.5%;
  border-radius: 10px;
}
.vakdiv{
  background-color: blue;
  height: 13%;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 4%;
  border-radius: 10px;
}
.vaktxt{
  color: white;
  font-size: 15;
  font-family: sans-serif;
  margin-top: -3%;
  margin-left: 3%;
}
